#mapContainer {
    float: left;
    width: 20em;
    height: 20em;
    padding-left: 0em;
    display: inline-block;
}

.mapImage {
    width: 50em;
}
/*
#blueTeamMap {
    display: none;
}

#NoTeamMap {
    display: block;
}*/

.background {
    background-image: linear-gradient(#DE6262, #FFB88C);
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}

.header {
    text-align: center;
    color: beige;
    font-size: 5em;
    font-family: "DIN Alternate";
}

#highscoreContainer {
    float: right;
    padding-right: 20em;
    display: inline-block;
}

.highscoreList > li {
    list-style-type: none;
    color: azure;
    font-size: 14pt;
    font-family: "Calluna";
}
/*
li::before {
    content: "• ";
    color: red;
}*/

li > .teamA {
    background: rgba(84, 135, 255, 0.7);
    /*background-color: #00B7FF;
    fill-opacity: 20;*/
}