#mapContainer {
    float: left;
    width: 50em;
    height: 20em;
    padding-left: 0em;
    display: inline-block;
}

.mapImage {
    position: relative;
    width: 100%;
}


#peopleInZone {
    color: beige;
    font-size: 100pt;
    font-family: "DIN Alternate";

    position: absolute;
    top: 105px;
    padding-left: 420px;
}

.background {
    background-image: linear-gradient(#DE6262, #FFB88C);
    /*'*box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);*/
}

.header {
    text-align: center;
    color: beige;
    font-size: 5em;
    font-family: "DIN Alternate";
}

#highscoreContainer {
    float: right;
    //padding-left: 1em;
    padding-right: 2em;
    margin-right: 14em;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
}

.highscoreList > li {
    list-style-type: none;
    color: azure;
    font-size: 14pt;
    font-family: "Helvetica Neue";
}

li > .blue::before {
    content: "• ";
    color: rgba(84, 135, 255, 0.7);
}

li > .red::before {
    content: "• ";
    color: rgba(215, 44, 44, 0.7);
}

li > .green::before {
    content: "• ";
    color: rgba(42, 214, 44, 0.7);
}

/*.playerScore .playerEntry {
    display: inline-block;
}*/

.pointText {
    text-align: right;
}